/*      FONTS     */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap");

/*      CONSTANTES      */
:root {
	--almost-black: #595959;
	--almost-white: #fff4ec;
	--red: #ff7477;
	--beige: #f2e9dc;
	--green: #808f85;

	--mouse-x: 10%;
	--mouse-y: 50%;
}

/*      GERAL     */

.material-icons-outlined {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}

* {
	margin: 0;
	padding: 0;
}

body, html {
    width: 100%;
    min-height: 100vh;
    background-color: var(--beige);
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100%;
}
